#alertModal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000; /* Pastikan modal di atas konten lainnya */
}

#alertModal .modal-content {
    background-color: #fff;
    border-radius: 12px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    width: 90%; /* Lebar modal */
    max-width: 400px; /* Lebar maksimal */
}

.check-icon {
    font-size: 50px; /* Ukuran ikon centang */
    color: #FFD700; /* Warna kuning untuk centang */
    margin-bottom: 15px; /* Jarak antara ikon dan teks */
}

#okButton {
    background-color: #007BFF; /* Warna biru */
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold;
    font-size: 16px;
}

#okButton:hover {
    background-color: #0056b3; /* Warna biru lebih gelap saat hover */
    transform: scale(1.05); /* Efek zoom saat hover */
}